.flux-single-post{
	    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 2px solid #bdc3c7;
    background: white;
    border-radius: 6px;
}

.post_time{
	font-size: 10px;
}

img{
    
}

.post_userPic{
	display: inline;
	max-width : 15% !important;
}

.post_username,.post_time{
	display: inline;
	clear: right;
}

.post_time{
	float: right;
}